html {
    background: #f7f3cb;
}

header {
    width: 100%;
    margin-top: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: brown;
    top: 0px;
    height: 130px;
    border: 3px solid;
}

#bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
    position: relative;
    bottom:80px;
}


.logo {
    position: relative;
    bottom: 100px;
}
.non-logos1 {
    position: relative;
    top: 20px;
}


nav li {
    display: inline-block;
    padding: 50px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 200;
}

ul {
    list-style-type: none;
}

nav a {
    color: white;
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
}

.home {
    font-size: 40px;
    position: relative;
    bottom: 15px;
    left: 5px;
}

nav a:hover {
    opacity: 50%;
}



#picture1 {
    height: 250px;
    width: 400px;
    border-radius: 63px;
    position: absolute;
    top: 330px;
    left: 70px;

}

#description1 {
    font-family: 'Roboto Slab';
    position: absolute;
    top: 350px;
    left: 540px;
}

#picture2 {
    height: 250px;
    width: 400px;
    border-radius: 63px;
    position: absolute;
    top: 630px;
    left: 650px;

}

#picture3 {
    height: 250px;
    width: 400px;
    position: absolute;
    top: 1000px;
    left: 70px;

}

#Location {
    font-family: 'Roboto Slab';
    Position: absolute;
    top: 950px;
    left: 80px;
}

#address {
    font-family: 'Roboto Slab';
    Position: absolute;
    top: 1235px;
    left:80px;
}

#description2 {
    font-family: 'Roboto Slab';
    position: absolute;
    top: 650px;
    left: 90px;
}

.extra {
    color: orange;
}

#Hours {
    font-family: 'Roboto Slab';
    position: absolute;
    top: 960px;
    left: 600px;
}

#Dog {
    height: 200px;
    width: 100px;
    position: absolute;
    top: 1090px;
    left: 990px;
}

#order {
    font-family: 'Roboto Slab';
    position: absolute;
    top: 1300px;
    left: 420px;
    padding-bottom: 30px;
    cursor: pointer;
    text-decoration: underline;
}

.uber {
    height: 50px;
    width: 50px;
    position: relative;
    left: 0px;
    top: 15px;
}


#picture1:hover {
    opacity: 70%;
}

#picture2:hover {
    opacity: 70%;

}

